html, body{
	margin: 0%;
	padding: 0%;
	overflow-x: hidden;
}
a:link {
  color: #e6e3e3;
}
a:visited {
  color: #e6e3e3;
}
a:hover {
  color: #e6e3e3;
}
a:active {
  color: #e6e3e3;
}

#page1{
	background: #e6e3e3;
	color: #242424;
}
#title{
	font-size: 150%;	
	font-weight: bold;
	text-align: center;
	padding: 5% 0 0 0;
}
#card_section{
	padding-top: 5%;
}
.my_card{
	background: #e6e3e3;
	color: #242424;
	box-shadow: 0 5px 15px #c2c2c2;
	text-align: center;
	padding: 5%;
	border-radius: 5%;
	margin-top: 10%;
}
.card_icon{
	width: 60px;
	text-align: center;
}
.card_title{
	font-weight: bold;
	padding-top: 10%;
}
.card_info{
	text-align: justify;
	font-size: 100%;
	padding: 10% 10%;
}

#vlog{
	padding:  10% 10% 5% 10%;
	text-align: justify;
	font-size: 18px;
}

footer{
	background: #242424;
	padding: 5% 5%;
	text-align: center;
	color: #e6e3e3;
}
.footer_link{
	color: #e6e3e3;
}
#github_footer{
	width: 15%;
}